@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  /* background-color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-image: url('../img/pixabay.webp');
  background-size: 60px 50px;
  margin: 0;
}

.search-form {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  background-color: #333333;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  width: 500px;
  font-size: 20px;
  border-radius: 15px;
}

.btn {
  width: 120px;
  border-radius: 15px;
  font-size: 20px;
}

.gallery {
  display: flex;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.card-link {
  width: 100%;
  flex-basis: calc((100% - 60px) / 4);
  transition: transform 250ms linear;
  text-decoration: none;
}

.card-link:hover,
.card-link:focus {
  transform: scale(1.05);
}

.photo-card {
  border: 2px solid #333;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.card-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  background-color: #333;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  font-size: 14px;
  display: flex;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: transparent;
  color: #fff;
  margin: 0;
  padding: 10px;
}

b {
  margin-bottom: 7px;
  color: antiquewhite;
}

.box-likes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-btn {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #333333;
  color: #fff;
  font-size: 18px;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}

.is-hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
